//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input {
    width: 100%;
    display: block;
    padding: 0px rem(20);
    font-size: rem(20);
    line-height: math.div(24, 20);
    font-style: italic;
    color: #929292;
    height: rem(70);
    background-color: #ffffff;
    border: rem(1) solid #d3d7d9;
    &:focus-visible {
        outline-offset: rem(-1);
        outline: #333 solid rem(1);
        color: #333;
    }
    &._form-error {
        color: red;
        border: rem(1) solid red;
    }
}
