.footer {
    background-color: #f7f7f7;
    @include adaptiveValue("padding-top", 100, 40, 1100, 767.98, 1);
    @include adaptiveValue("padding-bottom", 100, 30, 1100, 767.98, 1);
    &__container {
        display: flex;
        align-items: center;
        @media (max-width: $mobile) {
            flex-direction: column;
            text-align: center;
        }
    }

    &__column {
        flex: 0 1 33.333%;
        @media (max-width: $mobile) {
            &:not(:last-child) {
                margin-bottom: rem(30);
            }
        }
    }

    &__adress {
        color: #848789;
        line-height: math.div(18, 14);
        font-style: italic;
        p {
            &:first-child {
                font-size: rem(16);
                font-weight: 700;
                font-style: normal;
            }
            &:not(:last-child) {
                margin-bottom: rem(5);
            }
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: rem(16);
    }
    &__link {
    }

    &__dev {
    }
}
.dev {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__text {
        font-size: 14px;
        line-height: 17px;
        font-style: italic;
        color: #848789;
        padding: 0px 9px 0px 0px;
    }

    &__icon {
        img {
            max-width: 1005;
        }
    }
}
